html body {
  background-color: dodgerblue;
}

h1 {
  text-align: center;
}

.btn {
  margin: 20px;
}

.contentBox {
  margin-top: 20vh;
  height: 35vh;
  background-color: seashell;
}

.content {
  padding: 30px;
}